nav {
    display: flex;
    width: 30%;
    flex-direction: column;
    border-right: 2px solid var(--grayscale-container-line);
    height: 100%;
    align-items: flex-end;
    padding: 16px;
    box-sizing: border-box;

    & .container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;

        & ul {
            padding: 0;
            gap: 32px;
            display: flex;
            flex-direction: column;
        }
    }
}

#sidebar {
    height: 100%;
}

i {
    font-size: 30px;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    & a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }

    &.active {
        color: var(--primary-main);
        &:hover {
            color: var(--primary-dark)
        }

        & a {
            color: inherit;
        }
    }

    &:hover {
        color: var(--grayscale-hover);
    }
}

button {
    &.primary {
        margin-top: 32px;
        width: 230px;
    }
}
