<app-container>
  <div class="logo-container">
    <app-logo [height]=100 [width]=100 />
  </div>
  <div class="h3">Welcome to Sirius Twitter!</div>
  <div class="h5">Enter your email, or &#64;username</div>
  <form [formGroup]="loginForm" (submit)="submitLogin()">
    <div>
      <input id="username" type="text" formControlName="username" placeholder="Username" autocomplete="off"
             [class.error]="loginForm.get('username')?.hasError('customError') || loginForm.hasError('customError')">
      <span
        *ngIf="loginForm.get('username')?.hasError('customError')">{{loginForm.get('username')?.getError('customError')}}</span>
    </div>
    <div>
      <input id="password" type="password" formControlName="password" placeholder="Password"
             [class.error]="loginForm.get('password')?.hasError('customError') || loginForm.hasError('customError')">
      <span
        *ngIf="loginForm.get('password')?.hasError('customError')">{{loginForm.get('password')?.getError('customError')}}</span>
    </div>
    <span
      *ngIf="loginForm.hasError('customError')">{{loginForm.getError('customError')}}</span>
    <button type="submit" class="white" [disabled]="loading">Sign In</button>
    <button type="button" class="secondary" routerLink="/register">Register</button>
  </form>
</app-container>
