textarea {
  background-color: transparent;
  border: none;
  resize: none;
  color: white;
  font-size: 20px;
  flex: 1;

  &:focus {
    outline: none;
  }
}

form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer {
  border-top: 1px solid var(--grayscale-container-line);
  padding-top: 16px;
  margin: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-image {
  font-size: 20px;
  color: var(--primary-main)
}

button {
  &.primary {
    font-size: 15px;
    padding: 10px 16px;
  }
}
