button {
  padding: 12px 4px;
  border-radius: 100px;
  border: none;
  cursor: pointer;

  &.secondary {
    background-color: transparent;
    border: 1px solid white;
    color: white;

    &:hover {
      background-color: var(--grayscale-dark-hover);
    }
  }

  &.white {
    &:hover {
      background-color: var(--grayscale-hover);
    }
  }

  &.primary {
    background-color: var(--primary-main);
    color: white;

    &:hover {
      background-color: var(--primary-dark);
    }
  }
}
