/* Text Styles  */
body {
  color: white;
  font-family: Inter, sans-serif;
}
h1, .h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 110%;
}

h2, .h2 {
  font-size: 44px;
  font-weight: 400;
  line-height: 110%;
}

h3, .h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
}

h4, .h4 {
  font-size: 25px;
  font-weight: 400;
  line-height: 110%;
}

h5, .h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 110%;
}

h6, .h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
}

.subtitle-1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
}

.subtitle-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
}

button {
  font-family: Manrope, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 110%;
}

.body-1 {
  font-family: Manrope, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 110%;
}

.body-2 {
  font-family: Manrope, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
}

.bodybold {
  font-family: Manrope, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 110%;
}
