.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark);
}

.avatar img {
  width: 100%;
  height: auto;
}

.initials {
  font-size: 20px;
  font-weight: bold;
  color: var(--grayscale-black);
}
